* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}
.logo {
    font-weight: bold;
    font-size: 18px;
}

/* NAVBAR */
.navbar {
    background: white;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.signup-btn {
    background: #2f6df6;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
}

/* MAIN CONTAINER */
.container {
    padding: 40px 60px;
}

.container h1 {
    margin-bottom: 20px;
}

/* LAYOUT */
.content {
    display: flex;
    gap: 30px;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.sort {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

.filter-box {
    margin-bottom: 20px;
}

.filter-box h4 {
    margin-bottom: 10px;
}

.filter-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

/* PRODUCTS AREA */
.products-area {
    flex: 1;
}

/* SEARCH */
.search-box {
    position: relative;
    margin-bottom: 25px;
}

.search-box input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 8px;
}

/* GRID */
.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 5px;
}

.card p {
    font-weight: bold;
    margin-bottom: 10px;
}

.card button {
    background: #2f6df6;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}
